h1 /* ici les gros titres */
{
	text-align: center ;
	text-color: silver ;

}


p /* ici c'est le texte*/
{
	text-align: center ;
	
}

.button /* ici c'est les boutons du menu*/
{
	background-image: linear-gradient(to top right,black,grey,silver,white) ;
	border-radius:15px ;
	width: 13% ;
	height: 6% ;
	
	 
}
.button:hover /* ici les boutons du menu trandformé*/
{
	background-image: linear-gradient(to top left,purple,red);
	width: 20% ;
	height: 15% ;
	text-transform: capitalize ; 
	-moz-transition-duration:5s ;
	-moz-transition-property:background-image, widht,height ;

}

#bloc2 /* ici le paragraphe de la présentation*/
{
	background-color: ;
	border: 0.5em ridge silver ;
	border-radius: 45px;
	
}

.titre /* ici c'est les titres */
{
	color: silver ;

}

#present /*ici le texte de presentation*/
{
	color: silver ;
}

#touche
{
	color: silver ;
}
/* ------------------------------------------------------------------------------*/

body

{
    	background-image:linear-gradient(to left,rgba(118, 108, 106,0), rgba(65, 61, 60)),
	url("");
	/*background-position: center;
	background-size: contain, 40%;
	
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	
	

    /* Obligatoire si on veut "voir" le dégradé */
    	width: 100%;
    	height: 100%;
}

#page {
	display: flex;
	flex-direction: rew;

}



#site
{
	width: 70%;
}

#bloc1 {
	background-color: red;

}

#bloc3 {
	background-color: ;
}
#bloc4 {

	background-color: ;
}

.clavier1
{
	display:flex;
	flex-direction: rew;
	justify-content: space-around;
}

#calgauche
{
	width: 15%;
}
#caldroite
{
	width: 15%;
}

.space
{
	height: 7%;
}

.space2
{
	height: 15%;
}
li
{
	color: red ;
}




