

@font-face {
    font-family: 'gondola_sd_-_swashregular';
    src: url('police/gondolasd-sw/Gondola_SD-Swash-webfont.eot');
    src: url('police/gondolasd-sw/Gondola_SD-Swash-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/gondolasd-sw/Gondola_SD-Swash-webfont.woff2') format('woff2'),
         url('police/gondolasd-sw/Gondola_SD-Swash-webfont.woff') format('woff'),
         url('police/gondolasd-sw/Gondola_SD-Swash-webfont.ttf') format('truetype'),
         url('police/gondolasd-sw/Gondola_SD-Swash-webfont.svg#gondola_sd_-_swashregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



h1 /* ici les gros titres */
{
	text-align: center ;
	color: white ;
	font-family: 'gondola_sd_-_swashregular';
	text-shadow: 2px 2px 5px blue;

}
h2
{
	text-align: center;
	color: white;
	text-shadow: 2px 2px 5px blue;
	
}

.titre /* ici c'est les titres */
{
	/*color: red ;*/
	font-family: ariale;
	text-shadow: 2px 2px 5px blue;
}


p /* ici c'est le texte*/
{
	text-align: center ;
	color: white ;

	
}

.button /* ici c'est les boutons du menu*/{
	background-image: linear-gradient(to top right,black,blue) ;
	border-radius:15px ;
	min-width: 13% ;
	height: 6% ;}

.button:hover /* ici les boutons du menu transformé*/{
	background-image: linear-gradient(to top left,black,rgb( 19, 219, 243) );
	width: 20% ;
	height: 15% ;
	-moz-transition-duration:5s ;
	-moz-transition-property:background-image, widht,height ;}
a{
	color: rgb( 19, 219, 243);}

#bloc2 /* ici le paragraphe de la présentation*/{
	background-color: ;
	border: 0.5em ridge silver ;
	border-radius: 45px;
	box-shadow: 2px 2px 5px blue;
	min-width: 100%;}


#present /*ici le texte de presentation*/{
	color: white ;
	text-shadow: 2px 2px 2px blue;}


body{
    	background-image:linear-gradient(to left,rgba(118, 108, 106,0), rgba(65, 61, 60)),
	url("image/lazB.jpg");
	background-position: center;
	background-size: contain, 100%;
	
	background-repeat: no-repeat;
	background-attachment: fixed;
    /* Obligatoire si on veut "voir" le dégradé */
    	width: 100%;
    	height: 100%;}

a:hover{
	font-weight: bold; 
	color: red;}

#page {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10%;}

#bloc1 {
	background-color: ;
	font-size: 3em;
	color: blue;}

#bloc3 {
	background-color: ;
	min-width: 100%;}
#bloc4 {

	background-color: ;}

.clavier1{
	display:flex;
	flex-direction: rew;
	min-width: 70%;
	justify-content: space-around;
	background-color: ;}

li{
	color: red ;}
#menu{
	min-width: 100%;
	background-color: ; }
h2{
	font-family: 'gondola_sd_-_swashregular';
	text-align: center ;
	display: none;}

/*-----------------------------------media----------------------------*/




@media screen and (max-width: 1154px){

/#page{
	margin:5%;}
#bloc1 {
	font-size: 1.5em;}
a{
	font-size:;}
#petit{
	display:none;}


@media screen and (max-width: 600px){

body{
	
    	background-image: linear-gradient(to top left,black,rgba( 19, 219, 243,0.5) ),
	url("image/uranus.jpg");
	background-position: center;
	background-size: contain, 100%;
	
	background-repeat: no-repeat;
	background-attachment: fixed;
    /* Obligatoire si on veut "voir" le dégradé */
    	width: 100%;
    	height: 100%;}

#page{
	margin:3%;}
/*#bloc1 {
	font-size: 1em;}*/
#bloc2 /* ici le paragraphe de la présentation*/{
	width: auto;	}

h1{
	display:none;}
h2{
	text-align: center;
	display: contents;}
a{
	font-size:small;}

.button /* ici c'est les boutons du menu*/{
	background-image: linear-gradient(to top right,black,blue) ;
	border-radius:45px ;
	min-width: 5% ;
	height: 4% ;}

}







