#page {
	display: flex;
	flex-direction: rew;

}


body

{
    	background-image:linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
	url("laser.jpg");
	background-position: center;
	background-size: contain, 50%;
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	

    /* Obligatoire si on veut "voir" le dégradé */
    	width: 100%;
    	height: 100%;
}
#site
{
	width: 70%;
}

#bloc1 {
	background-color: red;

}
#bloc2 {
	background-color: yellow;
}
#bloc3 {
	background-color: ;
}

.clavier1
{
	display:flex;
	flex-direction: rew;
	justify-content: space-around;
}

#bloc4 {

	background-color: blue;
}
#calgauche
{
	width: 15%;
}
#caldroite
{
	width: 15%;
}

h1 {
	text-align: center;

}
.button
{
	background-image: linear-gradient(to top right,green,yellow,white);
	width: 15%;
	height: 8%;

}
.space
{
	width: 2%;
	height: 2%;
}
.space2
{
	width:20%;
	height: 4%;
}
.spaceM
{
	width: 10%;
}
