@font-face {
    font-family: 'gondola_sd_-_swashregular';
    src: url('police/gondolasd-sw/Gondola_SD-Swash-webfont.eot');
    src: url('police/gondolasd-sw/Gondola_SD-Swash-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/gondolasd-sw/Gondola_SD-Swash-webfont.woff2') format('woff2'),
         url('police/gondolasd-sw/Gondola_SD-Swash-webfont.woff') format('woff'),
         url('police/gondolasd-sw/Gondola_SD-Swash-webfont.ttf') format('truetype'),
         url('police/gondolasd-sw/Gondola_SD-Swash-webfont.svg#gondola_sd_-_swashregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



h1 /* ici les gros titres */
{
	text-align: center ;
	color: white ;
	font-family: 'gondola_sd_-_swashregular';
	text-shadow: 2px 2px 5px red;

}

.titre /* ici c'est les titres */
{
	/*color: red ;*/
	font-family: ariale;
	text-shadow: 2px 2px 2px red;
}


p /* ici c'est le texte*/
{
	text-align: center ;
	color: white ;

	
}

.button /* ici c'est les boutons du menu*/
{
	background-image: linear-gradient(to top right,black,blue) ;
	border-radius:15px ;
	width: 13% ;
	height: 6% ;
	
	 
}
.button:hover /* ici les boutons du menu trandformé*/
{
	background-image: linear-gradient(to top left,black,red);
	width: 20% ;
	height: 15% ;
	text-transform: capitalize ; 
	-moz-transition-duration:5s ;
	-moz-transition-property:background-image, widht,height ;

}
a
{
	color: white;
}

#bloc2 /* ici le paragraphe de la présentation*/
{
	background-color: ;
	border: 0.5em ridge silver ;
	border-radius: 45px;
	box-shadow: 2px 2px 2px white;
	
}


#present /*ici le texte de presentation*/
{
	color: white ;
	text-shadow: 2px 2px 2px red;
}

/* ------------------------------------------------------------------------------*/

body

{
    	background-image:linear-gradient(to left,rgba(118, 108, 106,0), rgba(65, 61, 60)),
	url("image/lazB.jpg");
	background-position: center;
	background-size: contain, 100%;
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	

    /* Obligatoire si on veut "voir" le dégradé */
    	width: 100%;
    	height: 100%;
}

a:hover
{
	font-weight: bold; 
	color: white;
}

#page {
	display: flex;
	flex-direction: rew;

}



#site
{
	width: 70%;
}

#bloc1 {
	background-color: ;
	font-size: 2.5em;
	color: blue;

}

#bloc3 {
	background-color: ;
}
#bloc4 {

	background-color: ;
}

.clavier1
{
	display:flex;
	flex-direction: rew;
	justify-content: space-around;
}

#calgauche
{
	width: 15%;
}
#caldroite
{
	width: 15%;
}

.space
{
	height: 7%;
}

.space2
{
	height: 15%;
}
li
{
	color: red ;
}




