@font-face 
{
    font-family: '2dumbregular';
    src: url('Police/2Dumb-webfont.eot');
    src: url('Police/2Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/2Dumb-webfont.woff2') format('woff2'),
         url('Police/2Dumb-webfont.woff') format('woff'),
         url('Police/2Dumb-webfont.ttf') format('truetype'),
         url('Police/2Dumb-webfont.svg#2dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



body
{
	height: 98%;
    width: 98%;
    background-color: rgb(233,233,233);
}

#section
{
    display: flex;
    flex-direction: column;
    margin-left: 2;

    
}



#aside
{
    height: 600px;
    width: 150px;
    
    background: url(lisere.png) no-repeat;
    border: 3px inset rgb(233,233,233); 
    border-radius: 8px; 
    overflow: hidden;
   
}

h1
{
	color: rgb(40,81,77); text-align: center; text-shadow: 6px 6px 5px rgb(62,123,117); font-family: '2dumbregular';
}

h3
{
	color: black; font-size: medium; text-shadow: 6px 6px 5px black; font-family: '2dumbregular';
}

a:hover
{
	font-weight: bold; color: red;
}

p
{
	font-size: medium; text-align: center; color: rgb(40,81,77); font-family: '2dumbregular';
}

.photo
{
	float: right; border: 3px  inset white; border-radius: 10px;
}

#bloc_page
{
    display: flex;
    flex-direction: row-reverse;

}



#conteneur
{
    display: flex;
    justify-content: space-around;
      
 }

.element
{
    width: 30%;
    height: 100%;
}

.element:nth-child(1)
{
    
     
}

.element:nth-child(2)
{
   
        
}

.element:nth-child(3)
{
    
       
}




/*-----------------------------------media----------------------------*/




@media screen and (max-width: 1154px){

#aside{
	display: none;}

}


@media screen and (max-width: 480px){
p{
	font-size: small; text-align: center; color: rgb(40,81,77); font-family: '2dumbregular';}
#aside{
	display: none;}
#conteneur{
    flex-direction:column;
    justify-content: space-around;}
#header{
	display:flex;
	flex-direction:column;
	justify-content: center;}  
.photo{
	 border: 5px  inset white; border-radius: 10px;}   
.element{
	min-width: 90%;} 

}







